/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/

body
  font-family: 'Roboto', Arial, sans-serif;
core-toolbar
  background-color: black
  color: white
  font-family: 'Bank Gothic'
.content1
  height: 200px
  width: 100%
  background-color: #FFF
.content2
  height: 200px
  width: 100%
  background-color: #ccc
// core-drawer-panel:not([narrow]) 
//   #navicon
//     display: none
[main]
  background-color: #f9f9f9
[drawer]
  background-color: #333
  color: white 
google-map
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
